<h1>Here are your friends!!!!!!</h1>

<h2 id="rat">Add a new friend through the link below!!!</h2>

<li class="entry-link"><a class="new_friend" href="<%= "/friendships/new" %>">Click here for a new friend!</a></li>

<main role="main">
  <ul class="entries">
    <% @user.friends.each do |friend| %>
      <li class="entry">
        <span class="name"><%= friend.name %></span>

        <ul class="entry-links">
          
          <li class="entry-link"><a href="<%= "/users/#{friend.id}" %>">Checkout their profile!</a></li>


          <li class="entry-link">See where they are at!</li>


          <li> 
            <form method="post" action="<%= "/users/#{@user.id}/friendships/#{friend.id}" %>">
              <input type="hidden" name="_method" value="DELETE">
             <!--  <label for="delete_friend">Delete this friend</label> -->
              <input type="submit" value="Delete this person" class="button">
            </form>
          </li>



        </ul>
      </li>
    <% end %>
  </ul>
</main>