<div class="container">
  <form action='<%= "/users/#{@user.id}/friendships" %>' method='post'>
   <input type="text" name="name" placeholder="Enter their name here!">
  
    
    <input  type="submit" value="submit">
  </form>

  <% if @error %>
    <%= @error %>
  <% end %>

</div>
