<div id="interest"><h1>Here are your interests!!!!!!</h1>

<h2>Add a new interest through the link below!!!</h2>

 <li class="entry-link"><a href="<%= "/interests/new" %>">Click here for a new interest!</a></li>

<main role="main">
  <ul class="entries">
    <% @user.interests.each do |interest| %>
      <li class="entry">
        <span class="name"><%= interest.interest %></span>

        <ul class="entry-links">
          
          <li> 
            <form method="post" action="<%= "/interests/#{@user.id}" %>">
              <input type="hidden" name="_method" value="DELETE">
              
             <input type="submit" value="Delete this interest" class="button">
            </form>
          </li>
        </ul>
      </li>
    <% end %>
  </ul>
</main> </div>