<div class="container">
  <form action='<%= "/interests" %>' method='post'>
   <input type="text" name="interest" placeholder="Enter your interest here!">
  
    
    <input  type="submit" value="submit">
  </form>

  <% if @error %>
    <%= @error %>
  <% end %>

</div>
